/*INICIO PAGE*/
.title-container {
    height: 100vh;
    background: rgb(242, 82, 86);
    background: linear-gradient(90deg, rgba(242, 82, 86, 1) 0%, rgba(243, 149, 99, 1) 100%);
    width: 100%;
}

.title-container h1 {
    color: white;
    font-size: 54px;
    padding-top: 15%;
    padding-left: 2%;
}

.arrowDown-icon {
    color: white;
    width: 80px;
    height: 80px;
    position: absolute;
    margin-top: 5%;
    left: 10%;
}

.shake-vertical {
    animation: shake-vertical 5s cubic-bezier(.455, .03, .515, .955) infinite both
}

@keyframes shake-vertical {

    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        transform: translateY(8px);
    }

    80% {
        transform: translateY(6.4px);
    }

    90% {
        transform: translateY(-6.4px);
    }
}

.title-container img {
    position: absolute;
    width: 40%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*WORK-TOGETHER BANNER*/
.work-together {
    display: flex;
    align-items: center;
    text-align: center;
    height: 150px;
    background-color: black;
    color: white;
    width: 100%;
}

.work-together h3 {
    font-size: 38px;
    width: 100%;
}

.work-together a {
    text-decoration: none;
    background-image: linear-gradient(90deg, rgba(242, 82, 86, 1) 0%, rgba(243, 149, 99, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    display: inline-block;
}

/*INICIO - SESSÃO DE PROJETOS*/
.project-section {
    height: 80vh;
    width: 100%;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    padding: 0 250px;
    width: 100%;
}

.section-title h3 {
    font-size: 48px;
}

.section-title p {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.section-title a {
    color: black;
    text-decoration: underline;
}

.project-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 3%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 320px;
    background: rgb(242, 82, 86);
    background: linear-gradient(45deg, rgba(242, 82, 86, 1) 0%, rgba(243, 149, 99, 1) 100%);
    border-radius: 15px;
    color: white;
    padding: 20px;
    margin-bottom: 3%;
    cursor: url('/src/assets/cursor-click.png'), auto;
}

.card h4 {
    font-size: 25px;
    text-align: center;
}

.card img {
    margin-top: 15px;
    width: 150px;
}

.flags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 25px;
}

.flags {
    background-color: white;
    color: #80352d;
    border-radius: 15px;
    padding: 5px;
    font-size: 10px;
    font-weight: 600;
}

/*INÍCIO - SESSÃO SOBRE*/
.about-section {
    height: 110vh;
    width: 100%;
}

.about-icons {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 50px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(242, 82, 86);
    background: linear-gradient(90deg, rgba(242, 82, 86, 1) 0%, rgba(243, 149, 99, 1) 100%);
    padding: 10px;
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.about-section-icon {
    width: 80px;
    height: 80px;
}

.about-section a {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(90deg, rgba(242, 82, 86, 1) 0%, rgba(243, 149, 99, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    margin-top: 50px;
}

.about-icons h4 {
    text-align: center;
    margin-top: 15px;
    font-size: 25px;
}

/*INICIO - SESSÃO DE CONTATO*/
.contact-section {
    height: 110vh;
    width: 100%;
    background-color: black;
    color: white;
}

.contact-section-title {
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding-top: 50px;
}

.contact-elements {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    gap: 5%;
}

.contact-elements h4 {
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-elements p {
    margin-bottom: 20px;
}

.contact-form {
    width: 30%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
textarea,
select {
    padding: 5px;
    margin-bottom: 20px;
}

#menssagem {
    resize: none;
}

#submit {
    width: 30%;
    cursor: pointer;
    background-color: #f1695a;
    border-style: none;
    padding: 10px;
    border-radius: 15px;
    color: white;
}

.line {
    border-left: 2px solid white;
}

.contact-info {
    width: 30%;
}

.contact-info a {
    color: white;
}

.contact-info div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.contact-section-icon {
    width: 30px;
    height: 30px;
}

.contact-section-icon:hover {
    color: #f27a5e;
}

@media (min-width: 800px) and (max-width: 1000px) {
    .title-container h1 {
        font-size: 44px;
        padding-top: 15%;
    }

    .title-container img {
        left: 70%;
    }

    .project-section {
        height: 220vh;
    }

    .about-section {
        height: 190vh;
    }

    .about-section p {
        width: 150%;
    }

    .contact-section {
        height: 150vh;
    }
}

@media (max-width: 700px) {
    .title-container {
        height: 50vh;
    }

    .title-container h1 {
        font-size: 44px;
        padding-top: 35%;
        text-align: center;
    }

    .arrowDown-icon {
        position: absolute;
        left: 40%;
    }

    .title-container img {
        display: none;
    }

    .section-title {
        padding: 0 20px;
    }

    .project-section {
        height: 185vh;
    }

    .about-section {
        height: 100vh;
    }

    .about-section-icon {
        width: 50px;
        height: 50px;
    }

    .icon-container {
        width: 80px;
        height: 80px;
    }

    .about-icons div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-section{
        height: 120vh;
    }

    .contact-elements {
        flex-direction: column;
        align-items: center;
    }

    .line {
        display: block;
        width: 80%;
        height: 2px;
        background-color: white;
        margin: 20px 0;
    }

    .contact-form {
        width: 80%;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

}